.fl-node-5cc26b38f20a3 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5cc26b38f20a3 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5cc26b38f20a3 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5cc26b38f20a3 > .fl-row-content-wrap {border-style: none;border-width: 0;background-clip: padding-box;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5cc2693ed5c3b .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5cc2693ed5c3b .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5cc2693ed5c3b .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5cc26b3932e87 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5cc26a441c7a0 {width: 50%;}
.fl-builder-content .fl-node-5cc26a441c7a0 > .fl-col-content {min-height: 53vw;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5cc26b194073f {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5cc26b38eff60 > .fl-module-content {margin-right: 0px;}