.elementor-4543 .elementor-element.elementor-element-d2d3e88 {font-size: 20px;}
.elementor-4543 .elementor-element.elementor-element-5ee45b1 {font-size: 20px;}
.elementor-4543 .elementor-element.elementor-element-00eb5fc {--e-image-carousel-slides-to-show: 1;}
.elementor-4543 .elementor-element.elementor-element-da83096 {font-size: 20px;}
.elementor-4543 .elementor-element.elementor-element-aef6f8b {--spacer-size: 50px;}
.elementor-4543 .elementor-element.elementor-element-15dd03a {--e-image-carousel-slides-to-show: 1;}
.elementor-4543 .elementor-element.elementor-element-699c545 {font-size: 20px;}
.elementor-4543 .elementor-element.elementor-element-7ca25db {--spacer-size: 50px;}
.elementor-4543 .elementor-element.elementor-element-dd04bd9 {--e-image-carousel-slides-to-show: 1;}
.elementor-4543 .elementor-element.elementor-element-dd04bd9 .elementor-swiper-button.elementor-swiper-button-prev, .elementor-4543 .elementor-element.elementor-element-dd04bd9 .elementor-swiper-button.elementor-swiper-button-next {color: #000;}
.elementor-4543 .elementor-element.elementor-element-dd04bd9 .elementor-swiper-button.elementor-swiper-button-prev svg, .elementor-4543 .elementor-element.elementor-element-dd04bd9 .elementor-swiper-button.elementor-swiper-button-next svg {fill: #000;}
.elementor-4543 .elementor-element.elementor-element-00e3ad2 {font-size: 20px;}
.elementor-4543 .elementor-element.elementor-element-8e07c3d {--spacer-size: 50px;}